autopep8==1.4.3
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Django==2.1.6
django-haystack==2.8.1
djangorestframework==3.9.2
drf-haystack==1.8.4
elasticsearch==2.4.1
idna==2.8
itsdangerous==1.1.0
MarkupSafe==1.1.0
Pillow==8.2.0
pycodestyle==2.4.0
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
urllib3==1.24.2
Werkzeug==0.14.1
