/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}



#my_blog .hljs {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
    color: #24292e;
    word-wrap: normal;
    font-size: 14px !important;
    line-height: 1.5 !important;
    padding: 3px !important;
}

/*
代码高亮开始，使用了一个叫Monokai Sublime的黑色主题皮肤，直接拿过来还不行，有一些样式冲突，还要自己稍微改一些地方
Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
*/

pre {
    /*控制代码不换行*/
    white-space: pre;
    word-wrap: normal;
}

#my_blog .hljs {
    display: block;
    overflow-x: auto;

    color: #24292e!important;
    background: #EFEFEF !important;

    white-space: pre;
    word-break: normal;
    padding: 5px 15px !important;
    max-height: 520px;
}



.hljs-comment,
.hljs-quote {
    color: green;

}



.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #008080;
}

.hljs-string,
.hljs-doctag {
    color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #900;
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    color: #009926;
}

.hljs-symbol,
.hljs-bullet {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #0086b3;
}

.hljs-meta {
    color: #2b91af;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {
    color: #00f;
}



/*#my_blog code {*/
/*    border-radius: 10px !important;*/
/*    -moz-border-radius: 15px;*/
/*    border: 1px solid #ccc !important;*/
/*}*/


#my_blog pre {
  background: white;
  border: white;
    margin-top: 5px;
    margin-bottom: 5px;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #535353;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #adadad;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d8dce5;
}


.hljs{
position: relative;
max-width: 100%;
box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
      0px 0px 20px rgba(0,0,0,0.1) inset;
}

.hljs::before,
.hljs::after {
 content:"";
 position:absolute;
 z-index:-1;
}

.hljs::before,
.hljs::after {
 content:"";
 position:absolute;
 z-index:-1;
 bottom:15px;
 left:10px;
 width:50%;
 height:20%;
}

.hljs::before,
.hljs::after {
 content:"";
 position:absolute;
 z-index:-1;
 bottom:15px;
 left:10px;
 width:50%;
 height:20%;
 box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
 transform:rotate(-3deg);
}

.hljs::after{
 right:10px;
 left:auto;
 transform:rotate(3deg);
}