* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #333333;
    line-height: 60px;
}

.header .title {
    font-size: 18px;
    font-weight: 100;
    line-height: 60px;
    color: white;
    margin-left: 15px;
    margin-top: -10px;
}

.backend {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
}

.pub_info {
    margin-top: 10px;
    color: darkgrey;
}

.menu {
    margin-top: 20px;
}
